* {
    /*border: 1px red solid;*/
    padding: 0;
    margin: 0;
    list-style: none;
}

#logo {
    margin-right: auto;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
#logo img
{
    max-height: 70px;
    max-width: 100px;
    width: 100%;
    height: 100%;
}
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;
}
#headerNav
{
    position: sticky;
    z-index: 3;
    top: 0;
}
nav {
    background-color: #1A8BCE;

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #E4D71C;
    font-size: 1.25em;
    font-weight: 900;
    text-transform: uppercase;
}

.navCorrection
{
    color: #E4D71C;
    text-decoration: none;
}
.navCorrection:visited
{
    color: #E4D71C;
}
.navCorrection:hover
{
    color: whitesmoke;
}
nav ul li {
    padding: 0 0.5em 0 0.5em;
    display: inline-block;
}

#servicesMenu {
    position: relative;
    display: block;
}

#servicesMenu:hover {
    cursor: pointer;
    color: whitesmoke;
}

#servicesMenu:hover #dropDowServices {
    visibility: visible;
}

#dropDowServices:hover {
    visibility: visible;
}

#dropDowServices {
    color: #E4D71C;
    margin-top: 0.3em;
    position: absolute;
    left: -25%;
    visibility: hidden;
    transition: ease-out 100ms;
    border: 1px black solid;
    display: block;
    background-color: rgba(32, 142, 207, 0.67);
    box-shadow: 5px 4px 0px rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    /* padding: 0; */
}

#dropDowServices li {
    /* padding: 0; */
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0;
    padding-left: 1em;
    display: block;
}

#dropDowServices li a {
    color: white;
    padding: 1em 1em 1em 0.4em;
    text-decoration: none;
    display: block;
}

#dropDowServices li a:visited {
    color: white;
}

#dropDowServices li a:hover {
    color: black;
    background-color: #C5B314;
    border-radius: 0.8rem 0 0 0.8rem;
}

#buttonClientCentral {
    margin-left: 3em;
    margin-right: 4em;
    filter: drop-shadow(0px 3px 4px #000000);
}

.defaultButton {
    color: #00176B;
    text-align: center;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #FFE500;
    cursor: pointer;
}
.defaultButton a{
    color: #00176B;
    text-decoration: none;
}
.defaultButton a:visited{
    color: #00176B;
}

#presentationWelcome {
    padding-left: 2rem;
    flex: 1;
    font-size: 2.36em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

#presentationWelcome .smallFont {
    font-size: 0.85em;
    font-weight: 500;
}

#presentationWelcome span {
    color: #FEF212;
}
body
{
    left: 0;
    overflow-x: hidden;
}
#welcome
{
    z-index: 2;
    max-width: 100vw;
    position: relative;
    height: 100%;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.carrouselBackground
{
    
    width: 100%;
    height: 100%;
    max-width: 100vw;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    background-position: center;
}
#carrousel01 {

    background-image: url(../imgs/Welcome_carrousel_01.svg);
    animation: slide 33s ease infinite;
    justify-content: flex-start;
}

#carrousel02
{
    animation: slide2 33s ease infinite;
    background-image: url(../imgs/Welcome_carrousel_02.svg);

}
#carrousel03
{
    animation: slide3 33s ease infinite;
    background-image: url(../imgs/Welcome_carrousel_03.svg);
}

#carrousel03 a
{
    width: 100%;
    height: 100%;
}
#buttonWelcomViabilidade {
    /* display:; */

    border: 1px;
    border-radius: 20px;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-weight: 900;
}

#buttonWelcomViabilidade:hover {
    color: turquoise;
    box-shadow: 4px 2px 4px rgba(0, 0, 0, 0.582);
}

#buttonWelcomViabilidade a {
    display: block;
    text-align: center;
}

.dealSlideFX
{
    animation: dealSlide 1.5s ease 1 forwards;
}
.closeDealSlideFX
{
    animation: closeDealSlide 1.5s ease 1 forwards;
}
.dealSlideButtonFX
{
    animation: dealSlideButton 1.5s ease 1 forwards;
}
.closeDealSlideButtonFX
{
    animation: closeDealSlideButton 1.5s ease 1 forwards;
}

#separatorStart {
    color: #FEF212;
    font-size: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    background-color: #208DCE;
    text-align: center;
}

#offersCards {
    margin-top: 4em;
    text-transform: uppercase;
    width: 100%;
}

.mainGradient {
    background: linear-gradient(to bottom, #052A40 1%, #285874 50%, #44ADE9 100%);
}

#offerCard02 {
    margin-top: -1em;
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#moreOffers {
    padding: 0.4em 1.8em 0.4em 1.8em;
    margin-top: 1.5em;
    font-size: 2em;
    border: 1px solid black;
}

.Button:hover {
    color: turquoise;
    background: linear-gradient(to bottom, #fbff00 1%, #dbd823 50%, #beab00 100%);
}

.flexLineBreaker {
    width: 100%;
}

.buttonOfferCard {
    display: inline-block;
    font-size: 0.75em;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0.7em;
    border: 1px black solid;
    font-weight: 800;
    color: white;
    border-radius: 1.2em;
    background: linear-gradient(to bottom, rgba(0, 17, 156, 0.25) 1%, rgba(20, 27, 82, 0.63) 100%);
    padding: 0.5em 0.7em 0.5em 0.7em;

}
.buttonOfferCard:visited
{
    color: white;
}

.buttonOfferCard:hover {
    background: linear-gradient(to bottom, #82c4fa 0%, #033153 100%);
}

.offerCard {
    background: linear-gradient(to bottom, #0C5884 0%, #1F97DC 100%);
    color: white;
    border: 2px black solid;
    border-radius: 1em;
    font-size: 1.5em;
    max-width: 12.5em;
    padding: 1em;
    text-align: center;
}

.offerCard p {
    margin-top: 1em;
}

.offerCard h2 {
    font-size: 1.4em;
    font-weight: 1000;
    color: #FEF212;
}

.priceCard {
    color: #FEF212;
    margin-top: 0.2em;
    display: block;
    font-size: 1.8em;
}

.imgDevicesAndUses {
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 2em;
    justify-content: space-around;
}

.imgDevicesAndUses img {
    width: 40px;
    height: 40px;
}

.smallFontCard {
    font-size: 0.7em;
}

.spanBlock {
    display: block;
}

#ourAdvantages .advantages {
    max-width: 80%;

    border: 0.2em rgba(255, 255, 0, 1) solid;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.747);
    color: white;
    justify-content: space-around;
    font-size: 1.5em;
    padding: 2em;
    text-transform: initial;
    border-radius: 7em;
}

.advantages span::first-letter {
    text-transform: uppercase;
}

.advantages img {
    width: 130px;
    height: 80px;
}

#ourAdvantages .advantageArrow {
    margin: 1em;
    width: 30px;
}

.advantages div span {
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1rem;
}

.advantagesSeparator {
    border: 0;
    border-right: 0.25em rgba(255, 255, 0, 1) solid;
    border-left-width: 0;
    height: 2em;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.747);
}

.advantages p
{
    flex: 1;
}

#ourAdvantages p::first-letter {
    text-transform: uppercase;
}

#ourAdvantages {
    flex: 1;
    width: 100%;
    margin-top: 5.5em;
}

.offersContainerResizer {
    width: 90%;
    margin-bottom: 10rem;
}

.rightPush {
    margin-left: 10em;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#finalMessage {
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#finalMessageCard {
    text-align: center;
    color: white;
    padding: 2rem;
    border: 0.2em rgba(255, 255, 0, 1) solid;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.747);
    border-radius: 0 15rem 15rem 15rem;
    font-size: 1.3rem;
    font-weight: 800;
    max-width: 30rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

#finalMessageCard h2 {
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 1.9rem;
    margin: 1rem;
    color: #FEF212;
}

#finalMessageCard h3 {
    margin: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #FEF212;
}

#finalMessageCard p::first-letter {
    text-transform: uppercase;
}

#finalMessage img {

    width: 20rem;
    height: 30rem;
}

.extraGradient {
    background: linear-gradient(to bottom, #ffffff00 0%, #25628d 100%);
    border-bottom: 0.7rem #215a83 solid;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
}

#contacts {
    color: white;
    text-align: center;
    margin-top: 2rem;
    font-weight: 800;
    font-size: 1.2rem;
}
.contactsBox
{
    justify-content: space-evenly;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
#contacts h2 {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

#contacts p span {
    font-style: italic;
    color: #FEF212;
}

#contacts p {
    width: 100%;
}

#contacts h2+p {
    font-size: 1.5rem;
}

.cardContact img {
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
}

.allInitialCaps {
    text-transform: capitalize;
}

.cardContact {
    border-radius: 2rem;
    margin-top: 2em;
    border: 0.1rem #4b7fb9 solid;
    background-color: rgb(32, 122, 173);
}

.cardContact a
{
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    text-decoration: none;
    justify-content: center;
    color: white;
    width: 100%;
    height: 100%;
}
#contactLocation
{
    padding: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.cardContact a:visited
{
    color: white;
}

.cardContact:hover {
    border: 0.1rem #7db9e8 solid;
}

#contactLocation img+span {
    margin-bottom: 0.5rem;
}

.flexCenterSelf {
    margin-left: auto;
    margin-right: auto;
}

#contacts p::first-letter {
    text-transform: uppercase;
}

#googleMaps {
    position: relative;
    height: 25rem;
    width: 100%;
}

#contactLocation {
    margin-bottom: 2rem;
}

#googleMaps iframe {
    /* position: absolute; */
    display: block;
    border: 1px solid red;
    border: 0;
    width: 100%;
    height: 100%;
    max-height: 25rem;
}

.overlay {
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.39);
    position: absolute;
    height: 100%;
    width: 100%;
    text-shadow: 0 0 3px #000000, 0 0 5px #fffb00;
}
#faq
{
    width: 70%;
    color: white;
}
#faq h2
{
    font-style: italic;
    margin-top: 2rem;
    font-weight: 800;
    font-size: 2.5rem;
}
#faq h2+span
{
    font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}
#faqCenterAndLeft
{
    width: 85%;
    justify-content: flex-start;
}
#faq h2
{
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    color: #F2DE0B;
    text-transform: capitalize;
}
#faq img
{
    display: inline;
    vertical-align: middle;
    /*border: 1px solid red;*/
    width: 45px;
    cursor: pointer;
    max-height: 25px;
}
.cardQuestionFaq
{
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0.8rem;
    width: 100%;
}
.faqBoxEffect
{
    background-color: white;
    padding: 5px;
    padding-left: 3rem;
    border-radius: 5px;
    border: solid 0px;
    border-left-width: 1rem;
    border-left-color: #F2DE0B;
    padding-top: 1.1rem;
    padding-bottom: 1.1rem;
}
.questionFaq
{
    color: #000000;
    margin-bottom: 0.2rem;
    max-width: 900px;
    flex-wrap: nowrap;

}
.answerFaq
{
    display: none;
    font-size: 1.25rem;
    font-weight: 500;
    padding-right: 2.5rem;
    color: #6A6A6A;
}
.arrowClick
{
    margin-left: auto;
}
#hrSeparator
{
    border: none;
    border-top: 2px dotted white;
    margin-bottom: 5rem;
    margin-top: 3rem;
    width: 90%;
}
#dealsFrame
{
    display: none;
    z-index: 4; 
    position: fixed;
    left: -100%;
    color: #FFE500;
    width: 100%;
    top: 0;
    height: 100%;
    background: linear-gradient(to bottom, #1374AB 1%, #0F96E3 50%, #44ADE9 100%);
}
#closeDealsFrame
{
    height: 50px;
    width: 50px;
    position: fixed;
    top: 2vh;
    left: 90vw;
    padding: 0.3rem;
    font-size: 2.5rem;
    background-color: #0C5884;
    border-radius: 5rem;
    font-weight: 900;
    text-align: center;
    color: white;
    border: 1px solid #dbd823;
    cursor: pointer;
}
#cardsDealContainer
{
    margin-top: 7rem;

}
.cardDealBBorder
{
    border-bottom: 3px solid #1C1F65;
    margin-bottom: 4rem;
}
.cardDealOffer
{
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 3.3rem;
    width: 80%;
    border-top: 3px solid #1C1F65;
}
.dealTitleOffer
{
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}
.dealsFeaturesIconsBox
{
    max-height: 56px;
    align-items: center;
}
.dealsFeaturesIconsBox img,.dealsFeaturesIconsBox  span
{
    margin-right: 1.1rem;
}
.dealsFeaturesIconsBox img,.dealsFeaturesIconsBox  span
{
    font-size: 1.5rem;
    font-weight: 400;
}
.dealPlusSign
{
    font-weight: 900;
    font-size: 1.6rem;
    color: #FA5D10;
}
.dealPriceContract
{
    text-align: center;
    max-width: 9rem;
}
.dealPriceContract span
{
    font-size: 1.1rem;
    text-transform: uppercase;
}
.dealPriceContract .dealPriceExta
{
    font-weight: 500;
    font-size: 1.9rem;
}
.dealButton
{
    margin-top: 0.7rem;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.7rem;
    text-transform: uppercase;
    border: 1px black solid;
    text-decoration: none;
    font-weight: 900;
    color: white;
    border-radius: 1.2rem;
    background: linear-gradient(to bottom, rgba(0, 17, 156, 0) 0%, rgba(20, 27, 82, 0.63) 100%);
    padding: 0.4rem 0.7rem 0.5rem 0.7rem;
}
.titleOfferContainer img
{
    margin-left: 0.9rem;
}
@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 10s linear infinite;
  animation: move-forever1 10s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@keyframes dealSlide {
    0%{
        left: -100%;
    }
    100%
    {
        left: 0;
    }
}

@keyframes closeDealSlide {
    0%{
        left: 0%;
    }
    100%
    {
        left: -100%;
    }
}
@keyframes dealSlideButton {
    0%{
        left: -10vw;
    }
    100%
    {
        left: 90vw;
    }
}

@keyframes closeDealSlideButton {
    0%{
        left: 90vw;
    }
    100%
    {
        left: -10vw;
    }
}

@keyframes slide {
    0%{
        left: 0;
    }
  27.27%{
    left: 0;
  }
  33.33%{
    left: -100%;
  }
  33.331% {
    visibility: hidden;
    left: 100%;
  }
  90.91%
  {
    visibility: visible;
    left: 100%;
  }
  100%
  {
      left: 0;
  }
}
@keyframes slide2 {
    0%{
        left: 100%;
    }
  27.27%{
    left: 100%;
  }
  33.33%{
    left: 0;
  }
  60.61% {
    left: 0;
  }
  66.67%{
    left: -100%;
  }
  66.68%
  {
    left: 100%;
  }
  100%
  {
    visibility: visible;
    left: 100%;
  }
}
@keyframes slide3 {
    0%{
        left: 100%;
    }
  60.61%{
    left: 100%;
  }
  66.67%
  {
    left: 0;
  }
  90.91%
  {
    left: 0;
  }
  100%
  {
    left: -100%;
  }
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
footer
{
    width: 100%;
    background-color: white;
    padding-top: 3.5rem;
}
#footer
{
    width: 98%;
    align-items: flex-start;
    justify-content: space-around;
}
#footer a
{
    text-decoration: none;
    font-weight: 500;
    color: #616161;
}
#footer a:visited
{
    color: #616161;
}
#footer a:hover
{
    color: #1F97DC;
}
#footer li
{
    padding-bottom: 0.5rem;
}
h4
{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}
#footer span
{
    font-weight: 400;
    color: #616161;
}
#footer li i
{
    color: #0F96E3;
}
.instaFooter
{
    justify-content: flex-start;
}
.instaFooter a
{
    margin: 0.5rem;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url(../imgs/InstagramIcon.svg);
    background-size: cover;
}
#finalFooter
{
    width: 100%;
    margin-top: 2rem;
    background-color: #0f95e356;
}
.finalFooterContainer
{
    margin: 0.6rem;
    color: #000000;
    width: 85%;
    font-weight: 400;
    font-size: 1rem;
    justify-content: space-between;
}
.finalFooterContainer a
{
    color: #0F96E3;
    font-weight: 500;
    text-decoration: none;
}
.finalFooterContainer a:visited
{
    color: #0F96E3;
}
.finalFooterContainer a:hover
{
    color: #0F96E3;
}